{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[[{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"remove","lines":["1"],"id":4},{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["1"]}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"insert","lines":["1"],"id":3},{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"insert","lines":["1"]}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["2"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":13},"end":{"row":4,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1566223884869,"hash":"d80a912bc511ae98ee3c6adc3efceec545bedc5d"}