/*RECIPES PAGE*/

.card-action {
    font-size: 13px;
}

/*FULL RECIPES PAGE*/

.full_recipe_title{
    padding-bottom: 50px;
}

.full_recipe_image {
    max-height: 500px;
    max-width: 500px;
}

.full_recipe_ingredients {
    text-align: center;
}

.full_recipe_info {
    text-align: center;
}

/*ADD RECIPES PAGE*/

.add_recipe_sub_head {
    text-align: center;
    padding-top: 100px;
}

.add_recipe_btn {
    text-align: center;
}

.add_cuisine{
    text-align: center;
}

/*ADD CUISINE PAGE*/

.add_cuisine_form {
    text-align: center;
}