.iris {
    background-image: url("https://bozeman.cafecourier.com/editable/templates/default/images/header-pic.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}