{% extends 'base.html' %} {% block content %}

<h2>Add Cuisine</h2>

<form class="add_cuisine_form" method="POST" action="{{ url_for('add_cuisine') }}">
    <div class="row">
        <h5>Add the desired cuisine for your recipe</h5>
        <div class="input-field col s6 add_cuisine_from">
            <i class="material-icons prefix">assignment</i>
            <input id="cuisine" name="cuisine" type="text">
            <label for="icon_prefix">The name of your cuisine you wish to add. E.g. Indian</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light grey darken-3" type="submit" name="action">Save Cuisine
        <i class="material-icons right">playlist_add</i>
    </button>
</form>

{% endblock %}
