{% extends 'base.html' %} {% block content %}

<h2>Add Recipe</h2>

<div class="row">
    <form id='myform' action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <!--CUISINE MULTIPLE SELECT-->
                <div class="input-field col s6">
                    <i class="material-icons prefix">assignment</i>
                    <select id="cuisine" name="cuisine">
                  <option value="" disabled selected>Choose Cuisine</option>
                    {% for cuis in cuisines %}
                    <option value="{{cuis.cuisine}}">{{cuis.cuisine}}</option>
                    {% endfor %}
                </select>
                    <label>Recipe Cuisines</label>
                </div>
                <div class="s6">
                </div>
            </div>
            <!--RECIPE NAME-->
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <input id="name" name="name" type="text">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <!--COOK TIME-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">alarm</i>
                <input id="cook_time" name="cook_time" type="text">
                <label for="icon_prefix">Cook Time in Minutes</label>
            </div>
            <!--SERVES MULTIPLE SELECT-->
            <div class="input-field col s12">
                <i class="material-icons prefix">filter_1</i>
                <select id="cuisine" name="cuisine">
                  <option value="" disabled selected>Select How Many</option>
                    <option value="One">One</option>
                    <option value="Two">Two</option>
                    <option value="Three">Three</option>
                    <option value="Four">Four</option>
                    <option value="Five">Five</option>
                    </select>
                <label>How Many People it Serves</label>
            </div>
        </div>
        <!--RECIPE DIFFICULTY-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">equalizer</i>
                <select id="difficulty" name="difficulty">
                  <option value="" disabled selected>Select The Difficulty</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                    </select>
                <label>What is the Difficulty?</label>
            </div>
            <!--RECIPE DESCRIPTION-->
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="description" id="description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Recipe Description</label>
            </div>
        </div>
        <!--TAGS MULTIPLE SELECT-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_line_spacing</i>
                <select multiple id="tags" name='tags'>
                  <option value="" disabled selected>Choose your Tags</option>
                  <option value="Healthy">Healthy</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="Gluten-free">Gluten-free</option>
                  <option value="Contain Nuts">Contains Nuts</option>
                </select>
                <label>What Tags does it Have?</label>
            </div>
            <!--INGREDIENTS-->
            <div class="row">
                <div class="s6 add_recipe_sub_head">
                    <h5>Ingredients & Method Guide</h5>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m3">
                    <input id="ingredient_1" name="ingredient_1" type="text">
                    <label for="icon_prefix">First Ingredient</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="ingredient_2" name="ingredient_2" type="text">
                    <label for="icon_prefix">Second Ingredient</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="ingredient_3" name="ingredient_3" type="text">
                    <label for="icon_prefix">Third Ingredient</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="ingredient_4" name="ingredient_4" type="text">
                    <label for="icon_prefix">Fourth Ingredient</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m3">
                    <input id="ingredient_5" name="ingredient_5" type="text">
                    <label for="icon_prefix">Fifth Ingredient</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="ingredient_6" name="ingredient_6" type="text">
                    <label for="icon_prefix">Sixth Ingredient</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="ingredient_7" name="ingredient_7" type="text">
                    <label for="icon_prefix">Seventh Ingredient</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="ingredient_8" name="ingredient_8" type="text">
                    <label for="icon_prefix">Eighth Ingredient</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="ingredient_9" name="ingredient_9" type="text">
                    <label for="icon_prefix">Ninth Ingredient</label>
                </div>
                <div class="input-field col s6">
                    <input id="ingredient_10" name="ingredient_10" type="text">
                    <label for="icon_prefix">Tenth Ingredient</label>
                </div>
            </div>
            <!--METHOD GUIDE-->
            <div class="row">
                <div class="input-field col s12 m4">
                    <textarea name="method_part_one" id="method_part_one" class="materialize-textarea"></textarea>
                    <label for="icon_telephone">Method Part One</label>
                </div>
                <div class="input-field col s12 m4">
                    <textarea name="method_part_two" id="method_part_two" class="materialize-textarea"></textarea>
                    <label for="icon_telephone">Method Part Two</label>
                </div>
                <div class="input-field col s12 m4">
                    <textarea name="method_part_three" id="method_part_three" class="materialize-textarea"></textarea>
                    <label for="icon_telephone">Method Part Three</label>
                </div>
            </div>
            <!--ADD RECIPE IMAGE URL-->
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_photo</i>
                <textarea name="recipe_image" id="recipe_image" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Please Add the Recipe Image URL</label>
            </div>
        </div>
        <!--ADD RECIPE SUBMIT BUTTON-->
        <div class="row btn-align add_recipe_btn">
            <button class="btn waves-effect waves-light grey darken-3" type="submit" name="action">Add Recipe
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}
