{% extends 'base.html' %} {% block content %}


<h2 class="full_recipe_title">Full Recipe - {{recipes.name.title()}}</h2>

<div>
    <div class="row">
        <img class="full_recipe_image col m6" src="{{recipes.recipe_image}}">
        <div class="full_recipe_ingredients col m6">
            <h4>Cuisine - {{recipes.cuisine.capitalize()}}</h4>
            <h4>Ingredients</h4>
            {% for recipe in recipes %}
            {% for ingredient in recipes.ingredients %}
                <p>{{ingredient}}</p>
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row full_recipe_method">
        <div class="recipe_method col m6">
            <h4>Method Step One</h4>
            <p>{{recipes.method_part_one.capitalize()}}</p>
            <h4>Method Step Two</h4>
            <p>{{recipes.method_part_two.capitalize()}}</p>
            <h4>Method Step Three</h4>
            <p>{{recipes.method_part_three.capitalize()}}</p>
        </div>
        <div class="full_recipe_info col m6">
            <h5>Cook Time: {{recipes.cook_time}}</h5>
            <h5>Difficulty: {{recipes.difficulty}}</h5>
            <h5>People it Serves: {{recipes.serves}}</h5>
        </div>
    </div>
</div>



{% endblock %}
