{% extends 'base.html' %} {% block content %}


<h2>Full Recipe - {{recipes.name.title()}}</h2>

<div class="full_recipe_info">
    <div class="row">
        <img class="full_recipe_image col m6" src="{{recipes.recipe_image}}">
        <div class="col m6">
            <h4>Ingredients</h4>
            <p>{{recipes.ingredient_1.capitalize()}}</p>
            <p>{{recipes.ingredient_2.capitalize()}}</p>
            <p>{{recipes.ingredient_3.capitalize()}}</p>
            <p>{{recipes.ingredient_4.capitalize()}}</p>
            <p>{{recipes.ingredient_5.capitalize()}}</p>
            <p>{{recipes.ingredient_6.capitalize()}}</p>
            <p>{{recipes.ingredient_7.capitalize()}}</p>
            <p>{{recipes.ingredient_8.capitalize()}}</p>
            <p>{{recipes.ingredient_9.capitalize()}}</p>
            <p>{{recipes.ingredient_10.capitalize()}}</p>
        </div>
    </div>

    <div class="row recipe_ingredients">
        <div class="recipe_method col m6">
            <h4>Method One</h4>
            <p>{{recipes.method_part_one.capitalize()}}</p>
            <h4>Method Two</h4>
            <p>{{recipes.method_part_two.capitalize()}}</p>
            <h4>Method Three</h4>
            <p>{{recipes.method_part_three.capitalize()}}</p>
        </div>
    </div>
</div>



{% endblock %}
