{% extends 'base.html' %} {% block content %}

<h2>Recipes</h2>

<div class="row">
    {% for recipes in recipes %}
    <div class="col s4">
        <div class="card">

            <div class="card-image">
                <img src="{{recipes.recipe_image}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{recipes.name.title()}}</span>
                <p>{{recipes.description.capitalize()}}</p>
            </div>
            <div class="card-action">
                <a href="#">Full Recipe</a>
                <a href="#">Edit Recipe</a>
                <a href="#">Delete Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
